@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * @black - main texts
 * @white - card background and input background color  
 * @gray - some texts
 * @light-gray - background pages
 * @yellow - header color;
 * @blue - button and some texts;
 * @dark-blue - header texts and icons;
 * @thin-blue - background text of "Enviando normalmente" element from card component
 * @green - some installment prices and "Frete grátis" text in product page
 * @red - background products number in the cart
 //  */

 @layer base {
    :root  {
        --black: 0 0 0; 
        --white: 255 255 255;
        --grey: 108 108 108;
        --light-grey: 243 243 243;
        --yellow: 255 237 49;
        --blue: 0 122 253;  
        --dark-blue: 38 45 110;
        --thin-blue: 235 244 252;
        --green: 0 158 66;
        --red: 239 68 68;
    }
 }
