@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * @primary - header-background
 * @secondary - header-texts
 * @dark - main-texts;
 * @light - card-background;
 * @success - some installment prices and "Frete Grátis" text in product page
 * @info - some background buttons and some texts
 * @error - background products number in the cart
 //  */

@layer base {
  html {
    font-family: Ubuntu;
  }
  :root {
    --primary: 255 237 49;
    --secondary: 38 45 110;
    --dark: 0 0 0;
    --light: 255 255 255;
    --success: 0 158 66;
    --info: 0 122 253;
    --error: 239 68 68;
  }
}
